In [14]:
from scipy.stats import uniform, expon, norm 
import numpy as np
import pandas as pd

data = pd.DataFrame([71, 69, 67, 68, 73, 72, 71, 71, 68, 72, 69, 72])
data.describe()

               0
count  12.000000
mean   70.250000
std     1.959824
min    67.000000
25%    68.750000
50%    71.000000
75%    72.000000
max    73.000000

In [15]:
o = 1.5 #Standardabweichung
Ho = 70

In [16]:
a = 0.05 #Signifikanzniveau 5% wenn nicht anderst angegeben

In [17]:
norm.ppf(q=a, loc=Ho, scale=o/np.sqrt(data.count()))

array([69.28775749])

In [22]:
# Standartisiert

norm.ppf(q=a)

-1.6448536269514729